.countryDetailContainer {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  width: 80%;
  margin: 10rem auto;
}
.countrySpecifics {
  display: flex;
  gap: 3rem;
}
.detailFlag {
  width: 25rem;
  height: 20rem;
  margin-right: 30px;
}
/* .countrySpecifics {
  display: flex;
  justify-content: space-between;
} */
.countryName {
  font-size: 2rem;
}
.neighbourlinks a {
  text-decoration: none;
  color: white;
  margin-right: 5px;
  background-color: hsl(209, 23%, 22%);
  padding: 8px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  html {
    font-size: 9px;
  }
  .neighbourlinks {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 425px) {
  html {
    font-size: 11px;
  }
  .countryDetailContainer {
    display: block;
    width: 65%;
    margin: 3rem auto;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 13.5px;
  }
  .countryDetailContainer {
    width: 90%;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 11px;
  }
}
