@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Josefin+Sans:wght@200;700&family=Manrope:wght@800&family=Nunito+Sans:ital,wght@0,300;0,400;0,600;1,800&family=Open+Sans&family=Roboto:ital,wght@0,400;1,700&family=Saira+Condensed:wght@300&display=swap");
body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212e37;
  color: white;
  border: 4px solid white;
}
